{% load static %}
<!-- FOOTER -->

<!-- END OF FOOTER -->

<!--
SITE CREATED BY ALVAR ANTSON
FOR CONTACT: alvarantson@gmail.com
-->

<div class="container footer footer-desktop col-12">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-2"></div>
		<div class="col-4 footer-info">
			<p>{{ navbar_lang.footer_info|linebreaks }}</p>
		</div>
		<div class="col-2 socials">
			{% for social in social_media %}
			<a href="{{ social.url }}" target="_blank"><i class="bi-{{ social.icon }}"></i></a>
			{% endfor %}
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row toetajad">

		{% for toetaja in toetajad %}
		<div class="col">
		<a href="{{ toetaja.url }}" target="_blank">
			<img src="{{ toetaja.logo.url }}">
		</a>
		</div>
		{% endfor %}
	</div>
</div>
</body>
<script type="text/javascript" src="{% static 'all.js' %}"></script>
</html>