.map {
  	display: inline-block;
	width: 49vw;
	padding-right: 0;
}
.phone {
	text-align: center;
}
#googleMap {
	width:100%;
	height:87vh;
	filter: saturate(0%);
	transform: all 1s;
	transition: all 1s;
	display: inline-block;
}
.phone #googleMap {
	height:50vh;
}
#googleMap:hover {
	filter: saturate(100%);
}

.sisu {
	margin-top: 12vh;
	margin-bottom: -2.5em;
}
.info {
  	display: inline-block;
	width: 49vw;
	height: 87vh;
	top: 0;
	padding-top: 10vh;
	background-color: white;
	border-radius: 0 25px 25px 0;
}
.info h1 {
	margin-top: 1.25em;
	margin-bottom: 1em;
	opacity: .8;
	font-weight: 700;
	font-size: 1.8em;
	color: var(--kontrast);
}
.info h3 {
	font-weight: 350;
	font-size: 1.4em;
}

.treener img {
	width: 130%;
	border-radius: 25px;
}
.phone .treener img {
	width: 100%;
}
.treener h3 {
	opacity: .8;
	font-weight: 700;
	color: var(--kontrast);
}
.treener h4 {
	opacity: .25;
	font-size: 1em;
	font-weight: 800;
}