.treenerid {
	margin-top: 15vh;
	padding-bottom: 3vh;
	background-color: white;
	border-radius: 25px;
	min-height: 75vh;
}
.treenerid h1 {
	text-align: center;
	margin-top: 1.25em;
	margin-bottom: 0;
	font-weight: 700;
	margin-bottom: 0;
	opacity: .8;
	font-size: 1.8em;
	color: var(--kontrast);
}
.treenerid img {
	border-radius: 25px;
	margin-left: auto;
	margin-right: 0;
	display: block;
	width: 100%;
}
.treenerid h2 {
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0;
	color: var(--kontrast);
	opacity: .8;
}
.treenerid h5 {
	font-size: 1em;
	font-weight: 800;
	opacity: .25;
	margin-top: 0;
	margin-bottom: 0;
}
.treenerid p {
	font-weight: 350;
	opacity: .9;
	font-size: .9em;
}