{% load static %}
{% include "navbar/navbar.html" %}
<link rel="stylesheet" type="text/css" href="{% static "hinnakiri.css" %}">

<div class="main">
	<div class="row sisu">


		<img class="bg" src="{{ lang.bg.url }}" alt='{{ lang.bg }}'>

		<div class="container hinnakiri">
			<h1>{{ lang.title|upper }}</h1>
			<p>{{ lang.text|safe|linebreaks }}</p>
			<br>
			<h3>{{ lang.title2|upper }}</h3>
			<p>{{ lang.pricing|safe|linebreaks }}</p>
		</div>

	</div>
</div>

{% include "navbar/footer.html" %}